@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap");

:root {
  --sans: "Work Sans", sans-serif;
  --mono: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background: var(--background, #2b2b2b);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

button {
  outline: none;
  border-width: nopne;
  border-style: none;
  border-color: none;
  border-image: none;
}

h2 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.subHeader {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.container {
  max-width: 1050px;
}

.m_all {
  margin-bottom: 150px;
}

.mt_80 {
  margin-top: 70px;
}

.foomt_80 {
  margin-top: 70px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mb_25 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 25px;
}

.mb_40 {
  margin-bottom: 35px;
}

.mb_60 {
  margin-bottom: 55px;
}

.gap_12 {
  gap: 12px;
}

.gap_30 {
  gap: 30px;
}

/* Header Start */

.headerContainer {
  max-width: 1180px !important;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav {
  gap: 50px;
}

.nav-link {
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.navbar-brand img {
  width: 216px;
  height: 35px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.connectBtn {
  padding: 14px 30px;
  border-radius: 20px;
  background: var(--call-to-action, #a259ff);
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  transition: 0.4s ease-in-out;
}

.connectBtn:hover {
  opacity: 0.9;
}

.nav-link:focus-visible,
.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:focus,
.nav-link:hover {
  /* color: #A259FF; */
  color: #dfbff1;
}

.navbar-toggler {
  border: none;
}

/* Header End */

/* Footer Start*/
footer {
  background-color: #3b3b3b;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footerInner {
  gap: 80px;
  border-bottom: 1px solid #747474;
  padding-bottom: 30px;
}

.footerOuter p {
  color: #ccc;
  font-family: var(--sans);
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.footerInner p {
  color: #ccc;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.footerMenu span {
  color: #fff;
  font-family: var(--mono);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.footerMenu a {
  color: #ccc;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 18px;
  display: block;
  transition: 0.3s ease-in-out;
}

.footerMenu a:hover {
  color: #dfbff1;
}

.socialLink {
  overflow: hidden;
}

.socialLink img {
  transition: 0.3s ease-in-out;
}

.socialLink img:hover {
  transform: scale(1.2);
}

.footerOuter {
  padding-top: 20px;
  padding-bottom: 40px;
}

.socialLink {
  overflow: hidden;
}

.socialLink img {
  transition: 0.3s ease-in-out;
}

.socialLink img:hover {
  transform: scale(1.2);
}

/* Footer End*/

/* Index Page Start */

.hero h1 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.bannerSub {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.bannerFollow a {
  padding: 19px 50px;
  border-radius: 20px;
  background: var(--call-to-action, #a259ff);
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  transition: 0.3s ease-in-out;
}

.bannerFollow a:hover {
  opacity: 0.9;
}

.bannerFollow article p {
  color: var(--white, #fff);
  font-family: var(--mono);
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.bannerFollow article span {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 23px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.heroBanner {
  border-radius: 20px;
  overflow: hidden;
}

.discoverInnerBox {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

.heroBanner img,
.discoverInnerBox img {
  border-radius: 20px 20px 0px 0px;
  transition: 0.3s ease-in-out;
}

.heroBanner img:hover,
.discoverInnerBox img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.boxBottom {
  padding: 20px 30px;
  background-color: #3b3b3b;
  border-radius: 0px 0px 20px 20px;
}

.boxBottom article img {
  border-radius: 50%;
}

.boxBottom article p {
  color: #fff;
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.boxBottom article a {
  color: var(--white, #fff);
  font-family: var(--mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  transition: 0.3s ease-in-out;
}
.boxBottom article span {
  color: var(--white, #fff);
  font-family: var(--mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  transition: 0.3s ease-in-out;
}

.boxBottom article a:hover {
  color: #dfbff1;
}

.entryBids span {
  color: #858584;
  font-family: var(--mono);
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.entryBids p {
  color: var(--white, #fff);
  font-family: var(--mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px;
}

.seeAll {
  padding: 15px 50px;
  border-radius: 20px;
  border: 2px solid var(--call-to-action, #a259ff);
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.seeAll:hover {
  background-color: #a259ff;
}

.discoverRow {
  gap: 30px;
}

.auctionBidInner {
  padding: 10px 30px 30px 30px;
  border-radius: 20px;
  background: var(--background-secondary, #3b3b3b);
  height: 100% !important;
}

.auctionBidInner span {
  display: block;
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.auctionBidInner p {
  color: var(--white, #fff);
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

/* Index Page End */

/* Auction Details Start */
.auctionDetail h3 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.auctionDetail span {
  color: var(--caption-label-text, #858584);
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.createdBy img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.createdBy span {
  color: #858584;
  font-family: var(--mono);
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  display: block;
}

.orbitTxt {
  color: #fff;
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.createDes p {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.delailsInner p {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.placeBid {
  border-radius: 20px;
  background: var(--background-secondary, #3b3b3b);
  padding: 30px;
}

.auctionend {
  color: var(--text, #fff);
  font-family: var(--mono);
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.timer p {
  color: var(--text, #fff);
  font-family: var(--mono);
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.timer span {
  color: var(--text, #fff);
  font-family: var(--mono);
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.bidInput input {
  background: transparent;
  color: #fff;
  font-family: var(--sans);
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #747474;
  border-radius: 5px;
  max-width: 135px;
}

.placebidBtn {
  color: #fff;
  text-align: center;
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  padding: 19px 50px;
  border-radius: 20px;
  background: var(--call-to-action, #a259ff);
  white-space: nowrap;
}

/* Auction Details End */

/* Live Auction Start */
.liveAuction h3 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

.liveAuction p {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}

/* Live Auction End */

/* Profile Page Start */

.profileImg img {
  margin-top: -60px;
  border-radius: 20px;
}

.proHeader h2 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

.proHeader p {
  color: var(--white, #fff);
  font-family: var(--mono);
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.proHeader span {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.profileOutter {
  color: #3b3b3b;
}

.created {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--caption-label-text, #858584);
}

.created p {
  color: var(--white, #fff);
  text-align: center;
  font-family: var(--sans);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.created span {
  color: #fff;
  font-family: var(--mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding: 5px 10px;
  border-radius: 20px;
  background: #858584;
}

.personalBid {
  background: var(--background-secondary, #3b3b3b);
}

/* Profile Page End */

/* create auction start */

.createAuction {
  color: white;
}
.createAuction .shade {
  background-color: #161616;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
}
.createAuction input,
select,
.pppp {
  background-color: #1d1d20;
  border: 2px solid #050505;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  color: white;
}
.createAuction .row button {
  background-color: #1d1d20;
  border: 2px solid #050505;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  color: white;
}
.gated_divider {
  position: relative;
  z-index: 99999;
}
.gated_divider::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  background-color: gray;
  height: 1px;
  z-index: -1;
}
.apv_btn {
  background-color: #ea7b36 !important;
}
.ggggg {
  position: relative;
}
.ggggg button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Live Auction Start */
.createAuction h3 {
  color: var(--white, #fff);
  font-family: var(--sans);
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  .m_all {
    margin-bottom: 110px;
  }

  .foomt_80 {
    margin-top: 40px;
  }

  h2 {
    font-size: 28px;
    font-weight: 140%;
  }

  .subHeader {
    font-size: 16px;
    line-height: 140%;
  }

  .auctionBidInner span {
    font-size: 16px;
  }

  .auctionBidInner p {
    font-size: 12px;
  }

  .container {
    max-width: 690px;
  }

  .navbar-nav {
    gap: 15px;
  }

  .connectBtn {
    padding: 10px 30px;
  }

  .hero h1 {
    font-size: 38px;
    margin-bottom: 15px;
  }

  .bannerSub {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .bannerFollow article p {
    font-size: 22px;
  }

  .bannerFollow article span {
    font-size: 16px;
  }

  .footerInner {
    flex-direction: column;
    gap: 25px;
  }

  .auctionDetail h3 {
    font-size: 38px;
  }

  .auctionDetail span,
  .createdBy span,
  .orbitTxt {
    font-size: 16px;
  }

  .timer p {
    font-size: 30px;
  }

  .orbitTxt {
    font-weight: 400px;
  }

  .bidInput input {
    max-width: 100px;
  }

  .placeBid {
    padding: 20px;
  }

  .liveAuction h3,
  .createAuction h3 {
    font-size: 38px;
  }

  .proHeader h2 {
    font-size: 38px;
  }

  .proHeader p,
  .proHeader span {
    font-size: 22px;
  }

  .created p {
    font-size: 16px;
  }

  .created span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .mt_80 {
    margin-top: 38px;
  }

  .bannerSub {
    margin-bottom: 35px;
  }

  .auctionBidInner {
    padding: 20px;
    gap: 15px;
  }

  .auctionBidInner img {
    width: 100px;
  }

  .auctionBidInner span,
  .auctionBidInner p {
    text-align: start;
  }

  .liveAuction h3,
  .createAuction h3 {
    font-size: 28px;
  }

  .liveAuction p {
    font-size: 16px;
  }

  .proHeader h2 {
    font-size: 28px;
  }

  .proHeader span {
    font-size: 16px;
  }

  .profileImg {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 320px) {
}
